body {
  background-color: black;
}
label {
  color: wheat;
}

.dataPetOwner {
  display: none;
}

/* information Pets */
.previus {
  display: none;
}

/* information Owner */
.next {
  display: block;
}

li {
  color: wheat;
}
