<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR code</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Pets QR code</h1>
    <form id="myForm" action="/data" method="post">
      <div class="dataPets">
        <label for="namePet">Enter your pet's name: </label>
        <input type="text" name="namePet" id="namePet" />
        <br /><br />
        <label for="birthdatePet">Enter your pet's date of birth: </label>
        <input type="date" name="birthdatePet" id="birthdatePet" />
        <br /><br />
        <label for="genre">Enter your pet's gener: </label>
        <input type="text" name="gener" id="gener" />
        <br /><br />
        <label for="imagePet">Enter your pet's image: </label>
        <input type="file" name="imagePet" id="imagePet" />
      </div>
      <div class="dataPetOwner">
        <label for="nameOwner">Enter your name: </label>
        <input type="text" name="nameOwner" id="nameOwner" />
        <br /><br />
        <label for="cellphone">Enter your cellphone number: </label>
        <input type="text" name="cellphone" id="cellphone" />
      </div>
      <button type="button" id="previus" class="previus">Previus</button>
      <button type="button" id="next">Next</button>
    </form>
    <script src="/qr.js"></script>
  </body>
</html>
